.min-h-screen.flex.items-center.justify-center.bg-gray-100
  .bg-white.p-8.rounded.shadow-md.max-w-md.w-full
    %h2.text-2xl.font-semibold.mb-6 Sign In
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4') do |f|
      = email_input f, :email, placeholder: "Your email"
      = password_input f, :password do
        .flex.items-center.mb-6
          %input#remember.mr-2.leading-tight{:type => "checkbox"}/
          %label.text-sm{:for => "remember"}
            Remember Me

      = submit_button f, "Sign In" do
        %a.inline-block.align-baseline.font-bold.text-sm.text-red-500.hover:text-red-800{:href => "#"}
          Forgot Password?
