-# FIXME replace window.location.href with something
%tr.cursor-pointer.hover:bg-gray-100
  %td.py-2.px-4.border-b.border-r
    - if podcast.logo.present?
      %img.logo{:alt => "Podcast Logo", :src => url_for(podcast.logo) }
  %td.py-2.px-4.border-b.border-r
    = link_to podcast_path(podcast) do
      = podcast.title
  %td.py-2.px-4.border-b.border-r
    = podcast.dates
  %td.py-2.px-4.border-b.border-r.text-right
    %a.btn-edit.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.mr-2.rounded{ href: edit_podcast_path(podcast) }
      Edit
    %button.btn-delete.bg-orange-500.hover:bg-orange-700.text-white.font-bold.py-2.px-4.rounded{ href: podcast, method: :delete, data: { confirm: 'Are sure?' } }
      Delete
